@inject ITrackingClient Client
<div>
    Total Clicks: @_data?.TotalClicks
</div>
<Card Class="mb-4">
    <CardBody>
        <ClickTrend Link="@MailLink" />
    </CardBody>
</Card>
<div class="row mb-4">
    <div class="col-6">
        <Card>
            <CardBody>
                <ClickTargetBreakdown Stats="@_data" />
            </CardBody>
        </Card>
    </div>
</div>
@code {
    [Parameter]
    public MailLink? MailLink { get; set; }

    private ClickStatData? _data = new();

    protected override async Task OnParametersSetAsync()
    {
        if (MailLink?.Id is string linkId)
        {
            _data = await Client.GetLinkStatsAsync(linkId);
        }
    }
}
