@using System.Net;
@inherits LinkComponent
<a href="@LinkUri" class="btn btn-info" target="_blank">GMail</a>
@code {
    private string LinkUri =>
    $"https://mail.google.com/mail/?view=cm&fs=1&to={Mail?.Recipient}t&su={WebUtility.UrlEncode(Mail?.Subject)}&body={WebUtility.UrlEncode(Mail?.Body)}";
       
}
