@using System.Net;
@using Letemknow.Shared;
@inherits LinkComponent
<a @onclick="OnClick" class="btn btn-info">Open in your default mail application</a>
@code {
    protected override string LinkUri =>
       $"mailto:{Mail?.Recipient}?subject={Link.Escape(Mail?.Subject)}&body={Link.Escape(Mail?.Body)}";

    protected override ClickTarget Target => ClickTarget.MailClient;
}
