@using System.Net;
@inherits LinkComponent
<a href="@LinkUri" class="btn btn-info" target="_blank">Outlook</a>
@code {
    private string LinkUri =>
    $"https://outlook.office.com/mail/deeplink/compose?to={Mail?.Recipient}&subject={WebUtility.UrlEncode(Mail?.Subject)}&body={WebUtility.UrlEncode(Mail?.Body)}";
}
