@using System.Net;
@using Letemknow.Shared;
@inherits LinkComponent
@inject HttpClient Client
@inject NavigationManager Navigation
@inject ILinkBusiness Link
<a href="@LinkUri" class="btn btn-info" target="_blank">Outlook</a>
@code {
    private string LinkUri =>
    $"https://outlook.office.com/mail/deeplink/compose?to={Mail?.Recipient}&subject={Link.Escape(Mail?.Subject ?? string.Empty)}&body={Link.Escape(Mail?.Body ?? string.Empty)}";

    private async Task OnClick()
    {
        await Client.PostAsync("Track", default);
        //Navigation.NavigateTo(LinkUri);
    }
}
