@using System.Net;
@using Letemknow.Shared;
@inherits LinkComponent
@inject ILinkBusiness Link
@inject NavigationManager Navigation
@inject ITrackingClient Tracking
<a @onclick="OnClick" class="btn btn-info" target="_blank">Outlook</a>
@code {

    protected override string LinkUri =>
    $"https://outlook.office.com/mail/deeplink/compose?to={Mail?.Recipient}&subject={Link.Escape(Mail?.Subject ?? string.Empty)}&body={Link.Escape(Mail?.Body ?? string.Empty)}";

    protected override ClickTarget Target => ClickTarget.Outlook;

}
