@using System.Net;
@inherits LinkComponent
<a href="@LinkUri" class="btn btn-info">Yahoo</a>
@code {
    private string LinkUri =>
       $"mailto:{Mail?.Recipient}?subject={WebUtility.UrlEncode(Mail?.Subject)}&body={WebUtility.UrlEncode(Mail?.Body)}";
}

