@using System.Net;
@inherits LinkComponent
<a href="@LinkUri" class="btn btn-info" target="_blank">Yahoo</a>
@code {
    private string LinkUri =>
    $"https://compose.mail.yahoo.com/?to={Mail?.Recipient}&subject={WebUtility.UrlEncode(Mail?.Subject)}&body={WebUtility.UrlEncode(Mail?.Body)}";
}

