@page "/{linkId}"
@using Letemknow.Shared;
@inject ILinkClient Client;

<h2>@mailLink?.Title</h2>
<h3>@mailLink?.Description</h3>

<p>To: @mailLink?.Recipient</p>
<p>Subject: @mailLink?.Subject</p>
<p>Body: @mailLink?.Body</p>

<MailLinkSet MailLink="@mailLink" />

@code {
    [Parameter]
    public string? LinkId { get; set; }

    private MailLink? mailLink;

    protected override async Task OnParametersSetAsync()
    {
        this.mailLink = await Client.GetLinkAsync(LinkId);
    }
}
