@page "/{linkId}"
@using Letemknow.Shared;
@inject HttpClient Client;

<h2>@mailLink?.Title</h2>
<h3>@mailLink?.Description</h3>
<p><MailToLink Mail="@mailLink" /></p>
<p><GmailLink Mail="@mailLink" /></p>
<p><OutlookLink Mail="@mailLink" /></p>
<p><YahooLink Mail="@mailLink" /></p>

@code {
    [Parameter]
    public string? LinkId { get; set; }

    private MailLink? mailLink;

    protected override async Task OnInitializedAsync()
    {
        this.mailLink = await Client.GetFromJsonAsync<MailLink>($"Link?id={LinkId}");
    }
}
